<!DOCTYPE html>
<html lang="en" ng-app="myApp">
 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
 
    <title>AzuraChat</title>
 
    <link href="kube.css" rel="stylesheet">
    <link href="fonts/pragmatapro.css" rel="stylesheet">
    <!--<link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
 
    <link href="justified-nav.css" rel="stylesheet">-->
 
</head>
 
<body ng-controller="HomeCtrl">
 
    <div class="container">
        <h3 class="text-centered"> /\ /\<br>(>OxO<)</h3>        
        <h1 class="text-centered">AzuraChat</h2>  
        <br>
        <center>
        <form class="form-signin" name="signinForm" role="form">
    <div class="form-group">
        <input type="email" placeholder="Email" name="email" class="form-control" ng-model="user.email" ng-class="{ 'input-error' : signinForm.email.$invalid }">
        <div class="forms-desc" ng-class="{ 'error' : signinForm.email.$invalid }" ng-show="signinForm.email.$invalid">Enter a valid email address.</div>
    </div>
    <br>
    <div class="form-group">
        <input type="password" placeholder="Password" name="password" class="form-control" ng-model="user.password" ng-minlength="7" ng-class="{ 'input-error' : signinForm.password.$invalid }">
        <div class="forms-desc" ng-class="{ 'error' : signinForm.password.$invalid }" ng-show="signinForm.password.$error.minlength">Min 7 characters.</div>
        </div>
        <br>
    <button ng-disabled="!user.email || !user.password" type="button" ng-click="SignIn($event)" class="btn btn-outline btn-black btn-round">SignIn</button>
    <label class="checkbox">
            <a href="#/register"><button class="btn btn-blue btn-round">Sign Up</button></a>
    </label>
</form>
        <!--<form class="form-signin" name="signinForm">
            <div class="form-group">
            <input ng-class="{ 'input-error' : signinForm.email.$invalid }" ng-model="user.email" type="email" class="form-control" placeholder="Email address" required="" autofocus="">
            <input ng-model="user.password" type="password" class="form-control" placeholder="Password" required="">
            <button type="button" ng-click="SignIn($event)" class="btn btn-outline btn-black btn-round">SignIn</button>
            <label class="checkbox">
            <a href="#/register"><button class="btn btn-blue btn-round">Sign Up</button></a>
        </label>
        
      </form>-->
      </center>
 
    </div>
 
   
 
</body>
</html>